* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(0, 0, 216);
  --red: rgb(211, 0, 0);
  --pink: rgb(255, 197, 197);
  --yellow: rgb(255, 255, 206);
  --purple: rgb(69, 0, 197);
  --green: rgb(0, 255, 0);
  --white: rgb(255, 255, 255);
}

html {
  background: #e3f4ff;
  color: rgb(0, 0, 0);
  font-family: 'Arial';
  font-size: 1rem;
  min-height: 100vh;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
}

label {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

section {
  margin: 2rem 1rem 1rem 1rem;
}

footer {
  height: 5rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.margin-top-4rem {
  margin-top: 4rem;
}

.padding-2rem {
  padding: 2rem;
}

.padding-top-bottom-1rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.price {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.user {
  font-weight: bold;
}

.flex--justify-space-between {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-items-center {
  align-items: center;
}

.flex--align-self-end {
  align-self: flex-end;
}

input[type='text'],
input[type='numeric'],
select {
  height: 4rem;
  font-size: 1.2rem;
  font-family: inherit;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 2px black solid;
  border-radius: 0.3em;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 0.8rem;
}

input[type='text']:active,
input[type='numeric']:active,
select:active {
  outline: 4px solid rgb(0, 0, 255);
}

textarea {
  font-size: 1.2rem;
  font-family: inherit;
  background-color: rgb(240, 240, 240);
  padding: 0.8rem;
  border: thin black solid;
  border-radius: 0.3em;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  width: 100%;
  resize: none;
}

button {
  background-color: var(--white);
  font-size: 1rem;
  font-family: inherit;
  margin: 0;
  padding: 0.6rem;
  border-style: solid;
  border-radius: 0.3em;
  border-width: 2px;
  border-color: black;
  width: 100%;
  height: 4rem;
  font-weight: bold;
  font-size: 1rem;
}

.dustbin {
  box-shadow: none;
  font-size: 1.6rem;
  padding: 0 10px 0 10px;
  border: none;
}

.box__button {
  display: block;
}

.box__button:link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.box__button:visited {
  text-decoration: none;
  color: black;
}

.box__button:hover {
  background-color: rgb(98, 255, 83);
  cursor: pointer;
}

.box__button:active {
  background-color: rgb(255, 136, 0);
  transform: translateX(0.3rem) translateY(0.3rem);
  box-shadow: 0 0;
}

.border {
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;
}

.border-1 {
  border-color: rgb(119, 0, 255);
}
.border-2 {
  border-color: rgb(17, 255, 17);
}
.border-3 {
  border-color: rgb(0, 47, 255);
}
.border-4 {
  border-color: rgb(255, 145, 0);
}
.border-5 {
  border-color: rgb(200, 255, 0);
}
.border-6 {
  border-color: rgb(190, 78, 93);
}
.border-7 {
  border-color: rgb(173, 173, 173);
}
.border-8 {
  border-color: rgb(43, 255, 0);
}
.border-9 {
  border-color: rgb(0, 4, 255);
}

.background--grey {
  background-color: white;
}
